/*  'Noto Sans KR' ; 100 300 400 500 700 900; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body {
  width: 100%;
}

#root {
  position: absolute;
  top: 0;
  width: 80%;
  padding: 0 10% 0 10%;
  text-align: center;
}

.main-header{
  font-family: 'Noto Sans KR';
  font-weight: 900;
  font-size: 32px;
  width: 80%;
  margin: 3% 10% 18px 10%;
} 

.main-nav {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 10%;
}

.nav-item {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  text-transform: uppercase;
  margin: 6px 16px;
  color: black;
  height: 24px;
}

.main-section {
  width: 80%;
  margin: 2% 10%;
  background-color: aliceblue; 
  border-radius: 18px;
}
.receive-info {
  width: 60%;
  margin: 4% 20%;
  padding: 1% 0 5%;
}
.receive-temperature {
  margin: 4px;
  font-family: 'Noto Sans KR';
  font-size: 22px;
}

.text {
  padding-right: 20px;
}

.modal-open-button {
  background-color: transparent;
    font-family: 'Noto Sans KR';
  font-weight: 900;
  text-transform: uppercase;
  margin: 6px 16px;
  color: black;
}

.ip-input-modal-container {
    /* 모달창 크기 */
  width: 300px;
  height: 200px;

  /* 최상단 위치 */
  z-index: 999;
  
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
}
.ip-input-modal-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
}